@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap'); 
.submit { 
  padding: 10px 25px; 
  border: solid white 1px; 
  font-size: 15px; 
  margin-top: 181px; 
} 
.spacey-font{ 
  font-family: 'Orbitron', sans-serif;  } 
.area { 
  display: flex; 
  justify-content: center; 
}